{
  "extends": [
    "tough/config/common",
    "tough/config/esnext",
    "tough/config/node",
    "tough/config/browser",
    "tough/config/react"
  ],
  "rules": {
    "object-curly-newline": 0,
    "immutable/no-mutation": 0,
    "promise/always-return": 0
  }
}
